@import "tailwindcss";

:root {
  --dark-purple: #5c2ddf;
  --purple: #7945ff;
  --pink: #fd6687;
  --yellow: #ffce67;
}

body {
  height: 100dvh;
  background: var(--dark-purple);
  color: white;
  font-family: var(--font-space-grotesk), Arial, Helvetica, sans-serif;
}

.darkpurple {
  background: var(--dark-purple);
}

.lightpurple {
  background: var(--purple);
}

.lightpurpletext {
  color: var(--purple);
}

.yellow {
  background: var(--yellow);
}

.pink {
  background: var(--pink);
}

.custom-counter {
  counter-reset: item;
}
.custom-counter li {
  counter-increment: item;
  position: relative;
  padding-left: 1.5em; /* optional spacing */
}
.custom-counter li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  font-weight: bold;
}
